body#checkout-page {
        div#content  {
        display: block;
        margin: 0 !important;
        padding:0 !important;
        height: 100vh;
      }

      @media only screen and (min-width: 1000px) {
            div#content {
              display: grid;

              grid-template-columns: 60% 40%;
              grid-template-rows: 80px 70px 40px 40px ;
              grid-template-areas:
              "main summary";
            }

            div#checkout-header {
              grid-area: head;
              grid-row: 2 / 3;
              grid-column: 1 / 1;
              height: auto;
            }

            div#checkout {
              // margin-top:100px;
              padding-top:0;
              grid-area: main;
              grid-row: 4 / 9;
              grid-column: 1 / 1;
            }

            div#checkout-summary {
              grid-area: summary;
              grid-row: 1 / 9;
              grid-column: 2 / 2;
            }
            div.inner-section-left{
              max-width:800px;
              margin-left: auto;
            }
            div.inner-section-right {
              max-width:600px;
              margin-right: auto;
            }


      }
}
