/* SCSS Variables */
$color-border: #d7dcde;
$link-color: #000;
$button-color: #007aff;
$grey:#717171;
$lightgrey:#bebebe;
$almost-white--background: #fafafa;
$active-color: rgb(85, 129, 161);
$corner-radius: 5px;
$default-margin-padding:20px ;
$color-error:red;
$color-error-bg:red;
$button-corner-radius: $corner-radius;
$colum-padding:80px 40px 0 40px;

/*============================================================================
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
==============================================================================*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

body#checkout-page {
  dd {
    margin: 0;
  }

  div.alert{
    position: fixed;
    top: 0;
    width: auto;
    margin: 15px;
    left: 0;
    z-index: 99;
    text-align: left;
    border-radius: 0;
  }

  .alert-danger,  .alert-error {
    border: 2px dashed #c33043;
    color: #971b31;
    background-color: #fbe5e7;
  }
  .alert-success {
    border: 2px dashed #52ca29;
    color: #3c763d;
    background-color: rgb(244, 247, 233);
  }

  .link_color {
    color:$link-color ;
    &:hover{
      text-decoration: underline;
    }
  }

    #subtotal-line {
      font-size: 0.9em;
      margin-bottom: 0px;
    }

    #subtotal-line th, #subtotal-line td {
      border-bottom: 1px solid #ddd;
    }

    div#order-total-line {
      border-top: 1px solid $color-border;
      padding: 20px 0 0 0;
      margin-top:20px;
      align-items: end;
    }

    #summary-order-total {
      font-size: 1.5em;
      font-weight: 400;

    }
    span.total-tax {
      font-size: 0.85em;
      color:#797979;
    }

    div#billing {
      margin-top:50px;
    }

    div.steps-container {
      margin-bottom: 15px;
    }

    span.cart-progress a {
    color: $lightgrey;
    text-decoration: none;
    }

    span.cart-progress:after {
        content: asset-data-url('chevron-right');
        display: inline-block;
        width: 7px;
        margin: 10px;
    }

    span.cart-progress.active{
      font-weight: 600;
      a {
        color: $active-color;
      }
    }

    span.cart-progress.completed a {
      color: $link-color;
      &:hover{
        text-decoration: underline;
      }
    }

    span.go-back a {
      color: $link-color;
    }

    div#shipping {
      margin: 15px 0 30px 0;
    }

    .btn{
      padding: 12.5px 5px;
      font-weight: 500;
    }

    .checkout-button {
      background-color: $button-color;
      border-color: darken( $button-color, 10% );
      font-size: 1.2em;
      font-weight: 400;
    }

    .checkout-button:hover {
      background-color: darken( $button-color, 10% );
      border-color: darken( $button-color, 10% );
    }

    div#checkout-footer {
      border-top: 1px solid $color-border;
      padding-top: 15px;
      margin: 45px 0 20px 0;
      text-align: center;

    a {
        color: black;
        margin-left: 7.5px;
        margin-right:7.5px;
        font-size: 0.85714em;
      }

    }

    span.go-back:before {
    content: asset-data-url('chevron-left');
    display: inline-block;
    width: 7px;
    margin: 0 10px 0 0;
    }

    span.cart-progress.last, span.cart-progress.last:after, span.cart-progress.pay:after {
        display:none;
        margin: 0;
    }


    #coupon_status {
      font-size: 12px;
    }

    img{max-width: 100%;}

    .form-cont {
      display: block;
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555555;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: $corner-radius;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .grid {
      display: grid;
    }

    .contact_login {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }

    ._fr2 {
      grid-column: 1 / 3;
    }


    .with-state {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    .without-state {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    .line-items {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin: 3px 0;
    }

    .address-form-conatiner{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      align-items: center;
    }

    .back-or-contiue-buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      align-items: center;

      .back{}
      .continue{}
    }

    .address-full-width{
      grid-column: 1 / 3;
    }

    #discount-apply{
      padding: 20px 0 15px 0;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      margin-bottom:20px;
    }

        a { color: $link-color; }

        .container {
          width: 100%;
          padding: 0;
          margin: 0;
          height: 100vh;
        }
        .row, .col-sm-12 {
          margin: 0 !important;
          padding: 0 !important;
          height: 100vh;
        }

        .panel-body, .panel-heading  {
          padding: 0 55px;
        }

        div#spree-header {
          display: none;
        }


        div#checkout {
          background: #ffffff;
          padding: $colum-padding;
          padding-top: 0;
        }

        div#checkout-summary {
          border-left: 1px solid $color-border;
          background: $almost-white--background;
          background-color: $almost-white--background;
          padding: $colum-padding;
        }



        div#cart-line-items {
          display: grid;
          grid-template-columns: 90px 3fr 1fr;
          margin: 0 0 15px 0;

          .checkout-product-image {
          width: 5em;
          height: 5em;
          border-radius: 8px;
          background: #fff;
          position: relative;
          border:1px solid $color-border;
          padding: 3px;
          margin: 5px 0;
          }
        }

    .product-thumbnail__quantity {
        font-size: 0.85714em;
        font-weight: 500;
        line-height: 1.8em;
        white-space: nowrap;
        text-align: center;
        border-radius: 1.75em;
        background-color: rgba(114, 114, 114, 0.9);
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 1.75em;
        height: 1.75em;
        padding: 0 0.58333em;
        position: absolute;
        right: -0.75em;
        top: -0.75em;
        z-index: 3
    }

    .list-group-item {
      border: none;
      padding: 0;
    }

    label {
      margin-bottom: 0;
      font-weight: 400;
    }

    .border-top {
      border-top: 1px solid $color-border;
    }
    .fw{ grid-column: 1 / 7;}

    .grey {color: $grey;}

    div#checkout-so-far {
      display: grid;
      grid-template-columns: minmax(0px, 60px) minmax(0, auto) minmax(65px, 85px);
      align-items: center;
      border: 1px solid $color-border;
      border-radius: $corner-radius;
      padding: 0 15px;

      span.fw{grid-column: 1/4;}

      .tag, .info, .link {
        padding: 15px 0;
      }

      ul.list-group {
        margin-bottom: 0;
        li {
          padding: 15px 0;
        }

      }
    }

    div#checkout-so-far {
      margin-bottom: 25px;
    }

    ul#payment-method-fields, ul#shipping_methods {
            border: 1px solid $color-border;
            border-radius: $corner-radius;
          li {
            cursor: pointer;
            border-bottom: 1px solid $color-border;
            padding-left: 15px;
            margin: 0;
          }


          li.active_shipping_method {
            background: $almost-white--background;
            // box-shadow: inset 0 0 0 1px #007aff;

            label{
              color:black;
            }
          }

          li:first-child {
              border-top-left-radius: ($corner-radius - 1);
              border-top-right-radius: ($corner-radius - 1);
          }

          li:last-child {
            border-bottom-left-radius: ($corner-radius - 1);
            border-bottom-right-radius: ($corner-radius - 1);
            border-bottom: none !important;
          }

          li:nth-last-child(n+1) ~ li:last-child {
              border-bottom: none !important;
              border-bottom-left-radius: ($corner-radius - 1);
              border-bottom-right-radius: ($corner-radius - 1);
          }
    }


    /*================ Custom select style ================*/
    select {
      @include prefix(appearance, none, webkit moz spec);
      background-position: right center;
      background: {
        image: asset-data-url('chevron-down');
        repeat: no-repeat;
        position: right 7.5px center;
        size: 15px;
      }
      padding-right: 11px;
      text-indent: 0.01px;
      text-overflow: '';
      color: #000;
      cursor: pointer;
      /*================ Hide the svg arrow in IE9 ================*/
      .ie9 & {
        padding-right: 10px;
        background-image: none;
      }
    }

    select::-ms-expand {
      display: none;
    }

    /*================ Error styles ================*/
    input,
    select,
    textarea {
      &.input-error {
        border-color: $color-error;
        background-color: $color-error-bg;
        color: $color-error;
      }
    }

    .form-group {
      margin: 0 0 5px;
      position: relative;
      display: block;
    }

    .panel-title {
      margin-bottom: 5px;
    }

    span.selector-label {
      position: absolute;
      top: -0.5em;
      left: 1em;
      font-size: 65%;
    }

    span.field_with_errors {
      display: block;
      border: 1px solid red;
    }

//####### FORM STYLES
    /* Powered by: https://github.com/tonystar/float-label-css
     */
    /* Re-usable mixins
     * https://github.com/tonystar/float-label-css/blob/master/scss/_mixins.scss
     */
    @mixin float-label-container {
      display: block;
      position: relative;
    }

    @mixin div-float-label {
      label {
        position: absolute;
        left: 1.2em;
        top: 0.4em;
        pointer-events: none;
        cursor: text;
        font-size: 55%;
        opacity: 1;
        transition: all 0.2s;
        line-height: 1em;
        color: #9b9b9b;
        font-weight: 200;
        @content;
      }
    }

    @mixin selector-has-float-label {
      label {
        position: absolute;
        pointer-events: none;
        cursor: text;
        font-size: 100%;
        opacity: 1;
        transition: all 0.2s;
        line-height: 1em;
        left: 0;
        top: 7px;
        color: #717171;
        font-weight: 200;
        @content;
      }
    }

    @mixin float-label-input {
      &::placeholder {
        opacity: 1;
        transition: all 0.2s;
      }

      &:placeholder-shown:not(:focus)::placeholder {
        opacity: 0;
      }
    }
    @mixin float-label-scaled {
      &:placeholder-shown:not(:focus) + * {
        font-size: 100%;
        opacity: 0.5;
        font-weight: inherit;
        color: #717171;
        @content;
      }
    }
    /* Default styling
     * https://github.com/tonystar/float-label-css/blob/master/scss/float-label.scss
     */
    div.has-float-label {
      @include float-label-container;
      @include div-float-label;
      font-size: 20px;
      font-weight: 200;


      input {
        @include float-label-input;
        font-size: 20px;
        width: 100%;
        line-height: 1.3em;
        padding:30px 0 15px 12px;
        @include float-label-scaled {
          top: 0.73em;
          left: 0.5em;
        }

        &:focus {
          outline: none;
        }
      }
      select {
        font-size: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding:15px 35px 2px 15px;
      }

    }


    div.selector-has-float-label {
      @include float-label-container;
      @include selector-has-float-label;
      font-size: 20px;
      font-weight: 200;

      select {
        font-size: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding:15px 30px 2px 11px;
      }

    }

    input[type=number], input[type=text], input[type=password], input[type=email], input[type=tel] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

    input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus,  select:focus{
        outline: none;
        border-color: $link-color;
        -webkit-box-shadow: 0 0 0 2px $link-color;
        box-shadow: 0 0 0 2px $link-color;
    }

//####### CHECKBOX STYLES
    .checkbox input[type="checkbox"] {
        opacity: 0;
        width:0;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        font-size: 16px;
        color:$grey;
        /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding-left: 22px;
        &:hover{
          text-decoration: underline;
        }
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";

        /*Needed for the line-height to take effect*/
        display: inline-block;
    }

    /*Outer box of the fake checkbox*/
    .checkbox label::before{
        height: 18px;
        width: 18px;
        border-radius: 3px;
        border: 1px solid;
        left: 0px;
        color:$link-color;
        /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
         *to vertically center it.
         */
        top: 1px;
    }

    /*Checkmark of the fake checkbox*/
    .checkbox label::after {
        height: 7px;
        width: 12px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        left: 3px;
        top: 5px;
        color:$link-color;
    }

    /*Hide the checkmark by default*/
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }

    /*Unhide on the checked state*/
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }

    /*Adding focus styles on the outer-box of the fake checkbox*/
    .checkbox input[type="checkbox"]:focus + label::before {

      outline: none;
      border-color: $link-color;
      -webkit-box-shadow: 0 0 0 1px $link-color;
      box-shadow: 0 0 0 1px $link-color;
    }




//####### RADIO BUTTON STYLES
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding: 15px 0 15px 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        width: 100%;
        color: #666;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 15px;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 14px;
        height: 14px;
        background: #007aff;
        position: absolute;
        top: 18px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    #coupon_box, #coupon_box_pay {
      width:77%;
      margin-right:3%;
      float:left;
    }

    #payment_additional_discount_box {
      display: none;
    }

    .coupon_button {
      width:20%;
      float:left;
    }
    div#mobile-logo{
      display: none;
    }
    dt#accordion_show_hide{
      display: none;
    }

    .large_show_grid {
     display: grid;
    }


      @media only screen and (max-width: 999px) {

          #payment_additional_discount_box {
            display: grid;
          }

            .medium_down_hide {
             display: none;
            }

            dt#accordion_show_hide{
              display: grid;
              max-width: 566px;
              margin: auto;
              height: 30px;
              padding-left: 3px;
              padding-right: 3px;
            }

            div#checkout-summary {
              padding: 15px;
              width:100%;
              border-top: 1px solid $color-border;
              border-bottom: 1px solid $color-border;
              border-left: none;
            }

            div#checkout-summary-inner {
              margin: 35px auto 0 auto;
            }

            div#checkout {
              padding: 15px;
            }

            .inner-section-right, .inner-section-left {
              max-width: 566px;
              margin:auto;
              padding-left: 3px;
              padding-right: 3px;
            }


            div#checkout-header {
            margin-top:20px;
            }

            .with-state {
              display: grid;
              grid-template-columns:1fr;
              grid-gap: 10px;
            }

            .without-state {
              display: grid;
              grid-template-columns: 1fr;
              grid-gap: 10px;
            }

            .badger-accordion__panel {

              overflow: hidden;
              // scss-lint:disable ImportantRule
              &.-ba-is-hidden {
                  max-height: 0 !important;
                  visibility: hidden;
              }
              // transition is added via `badger-accordion--initalised` to stop animation on initalition
              .badger-accordion--initalised & { transition: max-height ease-in-out 0.2s; }
            }


            .js-badger-accordion-header{
              display: grid;
              grid-template-columns: 3fr 1fr;
              align-items: center;
              color:$link-color;
              padding: 5px 0;
              text-align: left;

              h4 {
                font-weight: 300;
                position: relative;

              }

            }

            .back-or-contiue-buttons {
              grid-template-columns: 1fr;
              .back {
                grid-row: 2;
                text-align: center;
                margin-top: 20px;
              }
              .continue {
                grid-row: 1;
              }
            }

            .hide-summary {
              display: none;
            }


            .chevron:after {
              content: asset-data-url('chevron-down');
              display: inline-grid;
              width: 12px;
              margin-right:6px;
              transition: all ease-in-out 0.2s;
            }

            .-ba-is-active .chevron:after {
              -webkit-transform: scaleY(-1);
              transform: scaleY(-1);
              transition: all ease-in-out 0.2s;
            }

            .-ba-is-active .show-summary {
              display: none;
            }

            .-ba-is-active .hide-summary {
              display: inline;
            }



            .badger-accordion--initialized .badger-accordion__panel {
              transition: all ease-in-out 0.2s;
            }

            .badger-accordion__trigger-icon {
                transition: all ease-in-out .2s;
            }


      }

      @media only screen and (max-width: 550px) {

            .small_hide {
             display: none;
           }

      }

}
